.root {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-2);
  border-radius: var(--border-radius);
  border: 2px solid var(--color-gray-main);
  gap: var(--spacing-2);
  height: 500px;
  overflow-y: auto;
}

.lyricsLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  position: relative;
  font-weight: var(--font-weight-normal);
  list-style: none;

  &:not(:last-of-type) {
    border-bottom: 2px solid var(--color-info-light);
    padding-bottom: var(--spacing-2);
  }
}

.lyricsLineText {
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-normal);
  text-align: left;

  &.isActive {
    border-left: 2px solid var(--color-secondary-light);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
  }
}

.lyricsTimecode {
  color: var(--color-secondary-dark);
  font-size: var(--font-size-small);
}

.actionButton {
  display: flex;
}
