.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.inputGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-2);
}

.timeInputGroup {
  display: grid;
  grid-template-columns: 75% auto;
  gap: calc(var(--spacing)/2);
  align-items: flex-end;
}

.setTimeButton {
  height: 38px;
}

.saveButtonGroup {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);

  & > * {
    flex: 1;
  }
}
