:root {
  --color-primary-main: #4b101c;
  --color-primary-light: #902034;
  --color-primary-dark: #3c0d16;
  --color-primary-contrast: #f7f7ff;
  --color-secondary-main: #DAB052;
  --color-secondary-light: #dfc37c;
  --color-secondary-dark: #ac872a;
  --color-secondary-contrast: #03120e;
  --color-error-main: #f4442e;
  --color-error-light: #f66b58;
  --color-error-dark: #dd240c;
  --color-error-contrast: #03120e;
  --color-success-main: #136f63;
  --color-success-light: #1eae9b;
  --color-success-dark: #0f574e;
  --color-success-contrast: #f7f7ff;
  --color-warning-main: #f5bd2f;
  --color-warning-light: #f7ca57;
  --color-warning-dark: #dea20a;
  --color-warning-contrast: #03120e;
  --color-info-main: #99b2dd;
  --color-info-light: #acc1e3;
  --color-info-dark: #6087ca;
  --color-info-contrast: #03120e;
  --color-gray-main: #dadad5;
  --color-gray-light: #e9ebf1;
  --color-gray-dark: #7a8baa;
  --color-gray-contrast: #03120e;
  --color-background-main: #f3f4f7;
  --color-background-modal: #7a8baabd;
  --color-black-main: #03120e;
  --color-white-main: #f7f7ff;
  --gradient-primary: linear-gradient(180deg, #420815 0%, #5f1f2b 100%);
}
