:root {
  --color-primary-main: #4B101C;
  --color-primary-light: #902034;
  --color-primary-dark: #3C0D16;
  --color-primary-contrast: #F7F7FF;
  --color-secondary-main: #D7B359;
  --color-secondary-light: #DFC37C;
  --color-secondary-dark: #AC872A;
  --color-secondary-contrast: #03120E;
  --color-error-main: #F4442E;
  --color-error-light: #F66B58;
  --color-error-dark: #DD240C;
  --color-error-contrast: #03120E;
  --color-success-main: #136F63;
  --color-success-light: #1EAE9B;
  --color-success-dark: #0F574E;
  --color-success-contrast: #F7F7FF;
  --color-warning-main: #F5BD2F;
  --color-warning-light: #F7CA57;
  --color-warning-dark: #DEA20A;
  --color-warning-contrast: #03120E;
  --color-info-main: #99B2DD;
  --color-info-light: #ACC1E3;
  --color-info-dark: #6087CA;
  --color-info-contrast: #03120E;
  --color-gray-main: #C7CEDB;
  --color-gray-light: #E9EBF1;
  --color-gray-dark: #7A8BAA;
  --color-gray-contrast: #03120E;
  --color-background-main: #F3F4F7;
  --color-black-main: #03120E;
  --color-white-main: #F7F7FF;
}
