@use '/src/styles/breakpoints.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-2);
}

.pageContainer {
  max-width: breakpoints.$lg;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--spacing-2);
  flex: 1;
  gap: var(--spacing-4);
}

.audioPlayer {
  width: 100%;
  border: 2px solid var(--color-primary-main);
  box-sizing: border-box;
}

.lyricsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-2);
}

.listWithActions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}
