.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);

  @media all and (display-mode: fullscreen) {
    gap: 0;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media all and (display-mode: fullscreen) {
    display: none;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
}

.presentation {
  background: var(--gradient-primary);
  aspect-ratio: 16 / 9;
  padding: var(--spacing-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  box-sizing: border-box;
}

.decoration {
  background-image: url('/src/assets/images/ah-symbol-padded-3.png');
  background-repeat: space;
  background-size: contain;
}

.horizontalDecoration {
  @extend .decoration;
  // height: 22px;
  height: 3.8%;
}

.verticalDecoration {
  @extend .decoration;
  // width: 24px;
  width: 2.5%;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  flex: 1;
  text-align: center;
  padding: var(--spacing) var(--spacing-4);

  @media all and (display-mode: fullscreen) {
    span {
      font-size: clamp(0.75rem, 0.7143rem + 2.1vw, 10rem);
    }
  }
}

.textTibetan {
  color: var(--color-secondary-main);
  font-size: calc(var(--font-size-h2) * 2);
}

.textTransliteration {
  color: var(--color-primary-contrast);
  font-size: var(--font-size-h2);
  font-family: var(--font-family-serif);
}

.textEnglish {
  color: var(--color-gray-main);
  font-size: var(--font-size-h2);
  font-family: var(--font-family-display);
}

.textTitle {
  color: var(--color-secondary-main);
  font-size: calc(var(--font-size-h1) * 1.3);
  font-family: var(--font-family-display);
}

.textSubtitle {
  color: var(--color-gray-main);
  font-size: var(--font-size-h4);
  font-family: var(--font-family-display);
}

.image {
  max-width: 43%;
}
