.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);

  @media all and (display-mode: fullscreen) {
    gap: 0;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media all and (display-mode: fullscreen) {
    display: none;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
}

.presentation {
  background: var(--gradient-primary);
  aspect-ratio: 16 / 9;
  padding: 1.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  box-sizing: border-box;
}

.decoration {
  background-image: url('/src/assets/images/ah-symbol-orange-v3.svg');
  background-repeat: space;
  background-size: contain;
}

.horizontalDecoration {
  @extend .decoration;
  height: 4.4%;
  flex-shrink: 0;
  flex-grow: 0;
}

.verticalDecoration {
  @extend .decoration;
  width: 2.9%;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  padding: var(--spacing);
  font-weight: var(--font-weight-bold);
  line-height: 1.6;
  container-type: inline-size;
  gap: 1cqw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: 10px;
  padding: var(--spacing);
  background-origin: content-box;
}

.textTibetan {
  color: var(--color-secondary-main);
  font-size: 6cqw;
  line-height: 8cqw;
  text-shadow: var(--text-shadow);
}

.textTransliteration {
  color: var(--color-primary-contrast);
  font-size: 5.9cqw;
  line-height: 7cqw;
  font-family: var(--font-family-serif);
  text-transform: lowercase;
  text-shadow: var(--text-shadow);
}

.textEnglish {
  color: var(--color-gray-main);
  font-size: 4.4cqw;
  line-height: 6cqw;
  font-family: var(--font-family-display);
  text-shadow: var(--text-shadow);
}

.textTitle {
  color: var(--color-secondary-main);
  font-size: 5.9cqw;
  line-height: 7cqw;
  font-family: var(--font-family-display);
}

.textSubtitle {
  color: var(--color-gray-main);
  font-size: 4.4cqw;
  line-height: 6cqw;
  font-family: var(--font-family-display);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textTitle,
.textSubtitle {
  animation: 3s fadeIn;
}

.image {
  max-width: 43%;
}
